body{
    background-color: #f0f0f0;
}

a{
color: #747474;
}

#v_kozepre{

   /* margin-left: auto;
    margin-right: auto;*/
    margin: 0px auto 0px auto;
    width: 1000px;

}
.elso_o{
    width: 150px;
}
#v_zold
{
    background-color: #9bce11;
}
.kozep{
    text-align: center;
}
#fel{
    vertical-align: top;
    text-align: center;
}
.zold{
    color:#9bce11
}
#nagyb_k{
    text-transform: uppercase;

}
.vonal
{
    border: 2px solid red;
    
    
}
#otszaz 
{
display: block; 
width: 500px;
margin-left: auto;
margin-right: auto;
}

#szazotven
{
width: 150px;
float:right;
margin-left: 30px;
}

p
{
    text-align: justify
}